# Ignore .VSCodeCounter directory
.VSCodeCounter/

# Ignore .vscode directory
.vscode/

# Ignore database files
*.db

# Ignore environment files
.env

# Ignore UPX compressed files
*.upx

# Ignore logs directory and its contents
logs/

# Ignore executable files in root directory
/*.exe

build/
dist/

*.exe~
*.~

.tools/